services:
  postgres13:
    container_name: postgres13
    labels:
      - homepage.group=Databases
      - homepage.name=PostgreSQL 13
      - homepage.href=#
      - homepage.icon=postgres.png
      - homepage.description=Key-Value | Relational (54323)
      - wud.tag.include=^13.\d{1,2}-alpine.+?$
    environment:
      POSTGRES_PASSWORD: ${SECRET_PASSWORD}
    image: postgres:13.23-alpine3.22
    ports:
    - 54323:5432
    restart: unless-stopped
    volumes:
    - data:/var/lib/postgresql/data

networks:
  default:
    name: postgres
    external: true
      
volumes:
  data: