services:
  traefik:
    image: traefik:v2.11.35
    container_name: traefik
    environment:
      TRAEFIK_API_INSECURE: true
      TRAEFIK_PROVIDERS_DOCKER: true
      TRAEFIK_PROVIDERS_DOCKER_ENDPOINT: tcp://dockerproxy:2375
      TRAEFIK_PROVIDERS_DOCKER_EXPOSEDBYDEFAULT: false
      TRAEFIK_PROVIDERS_DOCKER_NETWORK: web
      TRAEFIK_PROVIDERS_DOCKER_DEFAULTRULE: Host(`{{ index .Labels "com.docker.compose.service" }}.${DOMAIN}`)
      # https://doc.traefik.io/traefik/reference/static-configuration/env/
    labels:
      - homepage.group=Docker
      - homepage.name=Traefik
      - homepage.href=http://traefik.${DOMAIN}
      - homepage.icon=traefik.png
      - homepage.description=Reverse proxy dashboard
      - homepage.widget.type=traefik
      - homepage.widget.url=http://traefik:8080
      - traefik.enable=true
      - traefik.http.routers.traefik-api.rule=Host(`traefik.${DOMAIN}`) && PathPrefix(`/api`)
      - traefik.http.routers.traefik-api.service=api@internal
      - traefik.http.routers.traefik-traefik.service=dashboard@internal
      - wud.tag.include=^v2.\d+?.\d+?$
    networks:
      - default
      - docker
    ports:
      - 80:80
      # - 443:443
    restart: unless-stopped

  # test:
  #   image: traefik/whoami:v1.10.1
  #   container_name: test
  #   labels:
  #     - homepage.group=Web
  #     - homepage.name=Test
  #     - homepage.icon=traefik.png
  #     - homepage.href=http://test.${DOMAIN}
  #     - homepage.description=Test page
  #     - traefik.enable=true
  #     - wud.tag.include=^v\d+?.\d+?.\d+?$
  #   networks:
  #     - default

networks:
  default:
    name: web
    external: true
  docker:
    external: true