services:
  postgres15:
    container_name: postgres15
    labels:
      - homepage.group=Databases
      - homepage.name=PostgreSQL 15
      - homepage.href=#
      - homepage.icon=postgres.png
      - homepage.description=Key-Value | Relational (54325)
      - wud.tag.include=^15.\d{1,2}-alpine.+?$
    environment:
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_PASSWORD: ${SECRET_PASSWORD}
    image: postgres:15.16-alpine3.22
    ports:
    - 54325:5432
    restart: unless-stopped
    volumes:
    - data:/var/lib/postgresql/data

networks:
  default:
    name: postgres
    external: true
      
volumes:
  data: