services:
  postgres14:
    container_name: postgres14
    labels:
      - homepage.group=Databases
      - homepage.name=PostgreSQL 14
      - homepage.href=#
      - homepage.icon=postgres.png
      - homepage.description=Key-Value | Relational (54324)
      - wud.tag.include=^14.\d{1,2}-alpine.+?$
    environment:
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_PASSWORD: ${SECRET_PASSWORD}
    image: postgres:14.21-alpine3.22
    ports:
    - 54324:5432
    restart: unless-stopped
    volumes:
    - data:/var/lib/postgresql/data

networks:
  default:
    name: postgres
    external: true
      
volumes:
  data: