services:
  postgres16:
    container_name: postgres16
    labels:
      - homepage.group=Databases
      - homepage.name=PostgreSQL 16
      - homepage.href=#
      - homepage.icon=postgres.png
      - homepage.description=Key-Value | Relational (54326)
      - wud.tag.include=^16.\d{1,2}-alpine.+?$
    environment:
      POSTGRES_HOST_AUTH_METHOD: scram-sha-256
      POSTGRES_PASSWORD: ${SECRET_PASSWORD}
    image: postgres:16.12-alpine3.22
    ports:
    - 54326:5432
    restart: unless-stopped
    volumes:
    - data:/var/lib/postgresql/data

networks:
  default:
    name: postgres
    external: true

volumes:
  data:
