services:
  pgadmin:
    image: dpage/pgadmin4:9.10.0
    container_name: pgadmin
    labels:
      - homepage.group=Web Interfaces
      - homepage.name=pgAdmin
      - homepage.icon=pgadmin.png
      - homepage.href=http://pgadmin.${DOMAIN}
      - "homepage.description=For: PostgreSQL"
      - traefik.enable=true
      - wud.tag.include=^9.\d+?.\d+?$
    environment:
      PGADMIN_DEFAULT_EMAIL: ${SECRET_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${SECRET_PASSWORD}
    networks:
    - default
    - web
    restart: unless-stopped
    volumes:
    - ./servers.json:/pgadmin4/servers.json
networks:
  default:
    name: postgres
    external: true
  web:
    external: true